/**
 * @file
 * CSS for interaction usability improvements.
 */

.dialog-links {
  background-color: #EEEEEE;
  border: 1px solid #AAAAAA;
  margin-top: -20px;
}

input.form-autocomplete.interaction-node-reference-found {
  border: 2px solid green;
}