@CHARSET "UTF-8";

/* Theme the button */
span.autocomplete-deluxe-button {
  top: 0.6em;
  height: 1.75em;
  overflow: hidden;
  outline: none;
}

ul.ui-autocomplete {
  overflow: scroll;
  min-height: 3em;
  max-height: 250px;
}

div.autocomplete-deluxe-values {
  width: 528px;
  /*border: solid 1px #CCCCCC;*/
}

span.autocomplete-deluxe-value {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px;
  border: solid 1px #CCCCCC;
  cursor: pointer;
}

span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background:url('x.gif') no-repeat center;
  width: 18px;
  width: 18px;
 
  /* Prevent text selection. */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
