/* This file will hold the main styles for your website. */

body {
  background-image: url('../images/bg3.png');
  background-repeat: repeat;
  font-family: 'PT Sans', 'Helvetica', Arial, sans-serif;
  font-size: 12px;
}
.page {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

/* bigger heading font; PT Sans */
body.front h1#page-title {
  font-family: 'PT Sans', 'Helvetica', Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 0;
  text-transform: none;
}

/* generic class for all lists of content */

.views-row {
  position: relative; /* be a container for the right-aligned content */
  height: auto !important;  /* remove pre-defined height so long titles fit */  
  min-height:60px;
  /* ^ instead, we're using JS to match heights */
  border-bottom: 1px dotted #8A9093;
  padding: 10px 0 !important;
}

/* Right-aligned row content (sharing/using, watching counts, etc.) */
.views-row .views-field-php,
.views-row .views-field-created,
.view-cc-organizations .views-field-php,
#block-views-places-block-2 .views-field-php,
#block-views-places-block-1 .views-field-php-3,
.views-field-count,
.views-field-field-interaction-date {
  position: absolute;
  top: 8px;
  right: 0;
  margin-top: 0 !important;
}
.view-at-a-glance-application- .views-row .views-field-php{
	position: relative;
  bottom: 0;
  right: 0;
}

#breadcrumb {
  padding-bottom: 4px;
  padding-top: 2px;
}

#block-cc-flag-block-flag-block {  /* Watching */
  clear: both;
  float: right;
  height: 0;
  margin-right: 90px;
  margin-top: -16px;
}
#block-cc-flag-block-flag-block li a{
  text-decoration: none;
  font-size: 14px;
}


.logo-img {
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.region-content h1.title {
  color: #2479cc; 
  font-family: helvetica; 
  font-size: 24px;
}

a:link, a:visited {
  color: #2479CC;
  text-decoration: underline;
}

/* give the user msg some breathing room */
#messages {
  margin-bottom: 1.5em; 
}

/* MAIN CONTENT */

.field-name-body {
  margin-top: 10px; 
  margin-bottom: 10px; 
  color:#696969
}

.field-name-field-application-logo{
  float:left;
  margin-right: 10px;
}

.field-name-field-application-featurs {
  height: 290px;
}
.field-name-field-application-featurs .field-label{
  color: #8A9093;
  font-weight: 600;
  text-transform: uppercase;
}

.field-name-field-application-featurs .field-items{
  color: #696969;
}

.sb-gallery-field_image a:link, 
.sb-gallery-field_image a:visited
{
  background: url("../images/photoscreenshot.png") no-repeat scroll 0 0 transparent;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  color: #2479CC;
  display: block;
  float: left;
  height: 40px;
  overflow: hidden;
  text-indent: 307px;
  width: 140px;
  margin-top: 10px;
}

.field-name-field-application-demourl{
  width: 200px; 
  float: left; 
  margin-left: 190px;
}

.field-name-field-application-demourl a:link, .field-name-field-application-demourl a:visited {
  background: url("../images/demothisapp.png") no-repeat scroll 0 0 transparent;
  box-shadow: 3px 3px 3px #DED8D8;
  color: #2479CC;
  display: block;
  height: 41px;
  overflow: hidden;
  text-decoration: underline;
  text-indent: -1000px;
  width: 236px;
  margin-top: 10px
}

/* BREADCRUMBS */

.breadcrumb {
  margin-top: -45px;
  padding-bottom: 0.5em;
  width: 70%;
}

.breadcrumb a:link,
.breadcrumb a:active{
  text-decoration: none;
}


/* SIDE BAR BLOCK */

.view-related-contents, .block-block-9 .content{
  padding: 7px;
}

.block-views-related-contents-block, 
.block-block-10,
.block-block-9,
.block-application-releases-block,
.block-vendors-block-1,
.block-block-18,
.block-views-at-a-glance-block,
.block-views-commercial-services-block{
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0 1px 8px 1px #DED8D8;
  box-shadow: 0 1px 8px 1px #DED8D8;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#DED8D8')";
 /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#DED8D8');
  box-shadow: 0 1px 8px 1px #DED8D8;
  color: #666666;
  font-family: 'PT Sans';
  padding: 0 5px;
  margin-bottom: 10px;
}

.block-views-related-contents-block h2.block-title,
.block-block-10 h2.block-title,
.block-application-releases-block h2.block-title,
.block-vendors-block-1 h2.block-title,
.block-block-9 h2.block-title,
.block-block-18 h2.block-title,
.block-views-at-a-glance-block h2.block-title,
.block-views-commercial-services-block h2.block-title
{
  background-color: #E1C83D;
  color: #FFFFFF;
  font-family: helvetica;
  font-size: 9.5pt;
  font-weight: 600;
  margin: -4px -7px 5px;
  padding: 9px 15px 6px;
  text-transform: uppercase;
}

.block-block-10 .content{
  color: #8A9093;
  font-family: helvetica;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.latest-contents .views-field-title a:link, .latest-contents .views-field-title a:visited {
  color: #666666;
}


.block-addtoany{
  background: url("../images/sharethis.png") no-repeat scroll 0 0 transparent;
  float: right;
  overflow: hidden;
  padding-left: 27px;
  padding-top: 3px;
  height: 20px;
}

.block-addtoany a{
  text-decoration: none;
  font-size:14px;
}

.view-application-releases{
  padding: 10px 10px 0 10px; 
}

.view-application-releases .views-field-field-application-logo{
  float:left; 
  margin-right: 10px;
}

.view-application-releases .views-label-field-application-hostname {
  color: #BCB8B8;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.block-application-releases-block .views-field-field-application-hostname {
  color: #2479CC;
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}

.block-application-releases-block .view-display-id-attachment_1{
  border-top: 1px dotted;
  margin-top: 15px;
}

.block-application-releases-block .view-display-id-attachment_1 a:link{
  color: #ddeedd;
}

.view-application-releases .views-field-field-application-hosturl .field-content a:link,
.view-application-releases .views-field-field-application-hosturl .field-content a:active,
.view-application-releases .views-field-field-application-hosturl .field-content a:visited{
  color: #2479CC;
  font-weight: 600;
}

.view-application-releases .views-field-nid .field-content a:active,
.view-application-releases .views-field-nid .field-content a:link,
.view-application-releases .views-field-nid .field-content a:visited{
  color: #696969;
  font-weight: 500;
  font-size: 12px;
}

.block-vendors-block-1 .view-vendors{
  margin-top: 10px;
}

.view-vendors .field-content a:link,
.view-vendors .field-content a:visited{
  color: #2479CC;
  font-weight: 600;
  text-decoration: none;
}

.view-vendors .field-content{
  font-weight: 300;
}

.view-vendors .views-row{
  border-bottom: 1px dotted;
  margin-bottom: 10px;
}

.view-vendors .view-footer {
  float:right; 
  height: 30px;
}

/* TOP MENUS */
.block-nice-menus-1{
  float: right;
  margin-top:10px;
  clear: both;
}

.block-nice-menus-2{
  background-color: #D7E7F7;
  float:right;
  clear:both;
}

.block-nice-menus-1 .block-inner .content ul.nice-menu,
.block-nice-menus-1 .block-inner .content ul.nice-menu ul,
.block-nice-menus-1 .block-inner .content ul.nice-menu li {
    border: 0;
    background: none;
}

.block-nice-menus-1 .block-inner .content ul.nice-menu a {
    color: #848080;
    display: block;
}

.block-nice-menus-1 .block-inner .content ul.nice-menu li a:hover, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li a:active, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li a:link,
.block-nice-menus-1 .block-inner .content ul.nice-menu li a:visited, 
ul.nice-menu li a:visited  { 
    color:#848080;
    background: #fff;
    text-decoration: none;
    background: url("../images/nav_separator.png") no-repeat scroll right center transparent;
    padding-left: 0.8em;
    padding-right: 0.8em;  
}

.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:hover, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:active, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:link, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:visited  { 
    color:#848080;
    background: #fff;
    text-decoration: none;
    background: none;
    padding-left: 0.8em;
    padding-right: 0.8em;  
  }
  
  
.block-nice-menus-2 .block-inner .content ul.nice-menu,
.block-nice-menus-2 .block-inner .content ul.nice-menu ul,
.block-nice-menus-2 .block-inner .content ul.nice-menu li {
    border: 0;
    background: none;
}

.block-nice-menus-2 .block-inner .content ul.nice-menu a {
    color: #666666;
    display: block;
}
 
 
.block-nice-menus-2 .block-inner .content ul.nice-menu li a:link, 
.block-nice-menus-2 .block-inner .content ul.nice-menu li a:visited  { 
    color:#3399ff; 
    background-color: #d6e6f5;
    text-decoration: none;
    padding: 8px 0.8em 8px;
    font-size: 15px;
    font-weight: 700;
}


.block-nice-menus-2 .block-inner .content ul.nice-menu li a:hover,
.block-nice-menus-2 .block-inner .content ul.nice-menu li a.active {
  color:#3399ff; 
  background-color: #d6e6f5;
  text-decoration: none;
  background: url("../images/hover_triangle.png") no-repeat scroll bottom center transparent;
  padding: 8px 0.8em 8px;
  font-size: 15px; 
  font-weight: 700;
}

/* GET SATISFACTION */

#block-block-6 .time{
  margin-left: 5px;
}

#block-block-6 ul {
  margin-left: 13px;
  padding-right: 13px;
}

/* PLACES */

/* use different place icon -- matches orig mockup */
#block-views-apps-browse-by-block-2 h2.block-title {
  background-image: url('../images/place3.png') !important; 
}

/* DOORMAT */
.block-block-5 .block-title{
  background-color: #DADADA;
  color: #666666;
  font-family: helvetica;
  font-size: 12.5pt;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin: -4px -23px 1px 1px;
  padding: 7px 3px 3px 19px;
}

.block-block-5 .content{
  background-color: #E0E0E0;
  height: 231px;
  font-size: 14px;
  margin: -1px -23px 0 1px;
  padding: 10px 0 0 20px;
  color: #999999;
}

.block-block-6 .content{
  background-color: #E0E0E0;
  height: 231px;
  font-size: 14px;
  margin: -2px -31px 0 4px;
  padding: 10px 5px 0 20px;
  color: #999999;
}


.block-block-6 .block-title{
  background-color: #DADADA;
  color: #666666;
  font-family: helvetica;
  font-size: 12.5pt;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin: -4px -31px 1px 4px;
  padding: 7px 3px 3px 19px;
}



.block-block-7 .block-title{
    background-color: #DADADA;
    color: #666666;
    font-family: helvetica;
    font-size: 12.5pt;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin: -4px 0 5px 12px;
    padding: 7px 3px 3px 19px;
}

.block-block-7 .content{ 
  background-color: #E0E0E0;
  height: 231px;
  margin: -5px 0 -5px 12px;
  padding: 10px 0 0 20px;
  color: #999999;
}


.region-content-bottom, 
.region-content-bottom2, 
.region-content-bottom3{
  margin-top:15px;
}

/* SEARCH BAR */

.region-search-bar-inner {
  margin-bottom: 3px;  
}

.region-search-bar{
  border-bottom: 1px dotted;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.block-search-form{
  background-color: #DADADA;
  height: 34px;
  margin-left: 12px;
  margin-top: -4px;
  padding: 10px;
}

#edit-search-block-form--2{
  background: none repeat scroll 0 0 #ECECEC;
  border: 0 none;
  padding: 9px 5px;
  width: 232px;
  height: 35px
}

.block-block-8{
  background-color:#297fd1; 
  padding: 9px; 
  height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-block-8 p{
  margin-left: 0; 
  margin-top: -40px; 
  float: right;
  
}

.search_dropdown2{
  width: 30%; 
  height: 40px; 
  padding-left: 15px; 
  padding-top: 10px; 
  color: #999999; 
  font-size: 15px; 
}

.search_textfield{
  color: #999999;
  font-size: 14px;
  height: 34px;
  padding-left: 12px;
  width: 60%;
}

.submit_btn{
  height: 39px; 
  margin-left: 7px;
}


.styled_select {
  background: url("../images/search_arrow3.png") no-repeat scroll right center #FFFFFF;
  overflow: hidden;
  width: 30%;
  margin-right: 64px;
  float: right;
  margin-top: -41px;
  
}

.styled_select select {
  background: none repeat scroll 0 0 transparent;
  color: #999999;
  font-size: 15px;
  height: 41px;
  padding-left: 15px;
  padding-top: 10px;
  width: 120%;
}


.block-custom-search-blocks-1 .content {
  background-color: #297FD1;
  padding-left: 15px;
  padding-right: 5px;
}

.block-custom-search-blocks-1 .form-item-custom-search-blocks-form-1{
  clear: both;
  float: left;
  width: 65%;
}


.block-custom-search-blocks-1 input.custom-search-box {
    color: #999999;
    font-size: 15px;
    height: 36px;
    padding: 5px;
    width: 97%;
}

.block-custom-search-blocks-1 .form-item-custom-search-types {
    background: url("http://dev.cc.warecorp.com/sites/all/themes/civiccommons/images/search_arrow3.png") no-repeat scroll right center #FFFFFF;
    float: left;
    margin-left: -2px;
    margin-right: 0;
    overflow: hidden;
    width: 27%;
}

.block-custom-search-blocks-1 .custom-search-selector {
  background: none repeat scroll 0 0 transparent;
  color: #999999;
  float: left;
  font-size: 15px;
  height: 36px;
  padding: 8px;
  width: 126%;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */

}

.block-custom-search-blocks-1 input.custom-search-button {
  margin-left: 15px;
  margin-right: 0;
  margin-top: 12px;
}

/* Fivestar Module */

div.fivestar-widget-static .star {
    background: url("../images/star.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 27px;
}

div.fivestar-widget-static .star {
    background-image: url("../images/star.png");
}

div.fivestar-widget-static .star span.on {
    background: url("../images/star.gif") no-repeat scroll 0 -52px transparent;
    display: block;
    height: 100%;
    width: 100%;
}

div.fivestar-widget-static .star span.on {
    background-image: url("../images/star.png");
}

div.fivestar-widget-static .star span.off {
    background: url("../images/star.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 100%;
    width: 100%;
}

div.fivestar-widget-static .star span.off {
    background-image: url("../images/star.png");
}

/*DEPLOYMENT*/

.block-deployment-stories-block{
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  color: #666666;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.block-deployment-stories-block h2.block-title{
  color: #8A9093;
  font-family: helvetica;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}


/* APPS */
.addapp, .spotapp {
  width: 120px;
}

.button-add { 
  box-shadow: 0 1px 8px 1px #A2A7AA;
  height: 35px;
  margin-right: 10px; 
  margin-top: 30px;
  padding: 10px;
  color: #ffffff;
}

.yellow{
  background-color: #E49A2F; 
}

.blue{
  background-color: #2479CC; 
}

.block-block-13 {
  margin-top: 10px;
}
.block-block-13 h2.block-title{
  color: #000000;    
  font-family: helvetica;     
  font-size: 24px;
}
.block-block-13 p {
  color: #666666;
}

.block-views-dashboard-block-2 h2.block-title,
.block-views-dashboard-block-3 h2.block-title{
  background-color: #E1C83D;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-weight: 600;
  margin: 5px -20px 5px 0;
  padding: 7px 3px 3px 10px;
  text-transform: uppercase;
}
.block-views-dashboard-block-1 h2.block-title,
.block-views-dashboard-block-4 h2.block-title{
  background-color: #E1C83D;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-weight: 600;
  margin: 5px 0px 5px 0;
  padding: 7px 3px 3px 10px;
  text-transform: uppercase;

}

.view-dashboard .views-row{
  border-bottom: 1px dotted; 
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: 55px;
}

.view-dashboard .views-field-field-application-logo img{
  float:left;
  margin-right: 10px
}


.view-dashboard .views-field-field-application-sdesc{
  color: #666666;
  font-size: 11px;
  width: 338px;
  
}

.view-dashboard .field-content a:link,
.view-dashboard .field-content a:active,
.view-dashboard .field-content a:visited{
  text-decoration: none;
  color: #2479CC;
  font-size: 16px;
  font-weight: 800;
}

.view-display-id-block_4 .views-field-field-application-agency .field-content a:link,
.view-display-id-block_4 .views-field-field-application-agency .field-content a:active,
.view-display-id-block_4 .views-field-field-application-agency .field-content a:visited{
  text-decoration: none;
  color: #2479CC;
  font-size: 12px;
}

.view-display-id-block_3 .views-field-created,
.view-display-id-block_4 .views-field-created{
  margin-left: 350px; 
  margin-top: -16px; 
  color: #666666;
}



.view-dashboard .view-display-id-page .views-row{
  border-bottom: none;
}


.view-display-id-block_1 .view-footer,
.view-display-id-block_2 .view-footer,
.view-display-id-block_3 .view-footer,
.view-display-id-block_4 .view-footer{
  float: right;
}

.view-display-id-block_1 .view-footer a:link, .view-display-id-block_1 .view-footer a:active,
.view-display-id-block_2 .view-footer a:link, .view-display-id-block_2 .view-footer a:active,
.view-display-id-block_3 .view-footer a:link, .view-display-id-block_3 .view-footer a:active,
.view-display-id-block_4 .view-footer a:link, .view-display-id-block_4 .view-footer a:active{
  color: #000000;
}

/* DASHBOARD */


.block-views-watching-orgs-block h2.block-title {
  background-color: #E1C83D;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-weight: 600;
  margin: 5px 0px 5px 0px;
  padding: 7px 9px 4px 15px;
  text-transform: uppercase;
}


#block-views-watching-app-block h2.block-title {
    background-color: #E1C83D;
    border: medium none;
    color: #FFFFFF;
    font-family: 'PT Sans',helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: -4px -7px 5px;
    padding: 9px 15px 6px;
    text-transform: uppercase;
}

.block-views-watching-orgs-block .views-row,
.block-views-watching-app-block .views-row{ 
  border-bottom: 1px dotted #666666;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.block-views-watching-orgs-block .views-field-field-application-agency a:link,
.block-views-watching-orgs-block .views-field-field-application-agency a:active,
.block-views-watching-orgs-block .views-field-field-application-agency a:visited,
.block-views-watching-app-block .views-field-title a:link,
.block-views-watching-app-block .views-field-title a:active,
.block-views-watching-app-block .views-field-title a:visited
{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}    

.block-views-watching-orgs-block .views-field-field-application-agency{
  color: #666666;
  width: 80%;
}

.block-views-watching-app-block .views-field-field-application-sdesc{
  color: #666666;
  width: 70%;
}

.block-block-15{   /* Welcome Block */
  font-size: 36px;
  text-transform: capitalize;
}


#block-block-16 h2.block-title, 
#block-block-17 h2.block-title {/* Manage You account & add to marketplace blocks  */
    background-color: #C4C4C4;
    border: medium none;
    color: #FFFFFF;
    font: 14px/16px PT Sans,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 10px 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#block-block-16 .content, 
#block-block-17 .content {
  background-color: #EDEDED;
  padding: 15px;
}

#block-block-17 .content a,
#block-block-16 .content p{
  color: #666666;
  text-decoration: none;
}

#block-block-16{
 margin: -20px 0px 30px 0;
}

#block-block-17{
  margin-top: 12px;
}


/* ORGANIZATION */

.block-views-ec4dedca467f7a3362801868ff73408d{
  margin-top: 20px;
  margin-bottom: 20px;
}



#block-views-cc-organizations-block h2.block-title,
#block-views-ec4dedca467f7a3362801868ff73408d h2.block-title,
#block-views-f180557b90e1950dc78c1a58bbf318df h2.block-title,
#block-views-interactions-block h2.block-title,
#block-views-interactions-block-3 h2.block-title{
  background-color: transparent;
  border-bottom: 1px dotted;
  color: #8A9093;
  font: bold 14px/16px 'PT Sans',helvetica,arial,sans-serif;
  margin: 0 0 10px;
  padding-left: 0;
  text-transform: uppercase;
}

.block-views-ec4dedca467f7a3362801868ff73408d .views-field-field-application-logo,
.block-views-f180557b90e1950dc78c1a58bbf318df .views-field-field-application-logo{
  float:left;
  margin-right: 10px;
}


.block-views-ec4dedca467f7a3362801868ff73408d .views-row,
.block-views-f180557b90e1950dc78c1a58bbf318df .views-row{
  border-bottom: 1px dotted;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 60px;
}

.block-views-ec4dedca467f7a3362801868ff73408d .field-content a:link,
.block-views-ec4dedca467f7a3362801868ff73408d .field-content a:active,
.block-views-f180557b90e1950dc78c1a58bbf318df .field-content a:link,
.block-views-f180557b90e1950dc78c1a58bbf318df .field-content a:active
{
  font-size: 15px;
  text-decoration: none;
}

.view-apps-this-organization-has-used .view-footer,
.view-apps-this-organization-has-creat .view-footer{
  background-color: #D6E6F6;
  float: right;
  margin-top: 5px;
  padding: 7px;
}

.block-views-ec4dedca467f7a3362801868ff73408d .views-field-count{
  background: url("http://dev.cc.warecorp.com/sites/all/themes/civiccommons/images/watchingeye.png") no-repeat scroll 0 0 transparent;
  color: #666666;
  float: right;
  height: 22px;
  padding-left: 35px;
  padding-top: 3px;
}
    
.cc-org-apps{
  width: 50%; 
  float:left;
  margin-bottom: 0;
}

.cc-org-prefix-using,
.cc-org-prefix-sharing,
.cc-org-count,
.cc-org-postfix{
  float: left;
  margin: 3px;
}

.cc-org-prefix-using{
  background: url("http://dev.cc.warecorp.com/sites/all/themes/civiccommons/images/deployment_icon.png") no-repeat scroll 0pt 0pt transparent; 
  padding-top: 30px;
  width: 33px;
}

.cc-org-prefix-sharing{
  background: url("http://dev.cc.warecorp.com/sites/all/themes/civiccommons/images/sharingapps.png") no-repeat scroll 0pt 0pt transparent; 
  padding-top: 30px;
  
}

.cc-org-count{
  color: #000000;
  font-size: 22px;
}

.cc-org-postfix{
  font-size: 20px;
  padding-top: 2px;
  text-transform: uppercase;
}

.cc-org-contact-title,
.cc-org-details-title{
  border-bottom: 1px dotted;
  font-weight: 600;
  margin-bottom: 7px;
  padding-bottom: 7px;
  margin-top: 15px;
  text-transform: uppercase;
}


#block-views-at-a-glance-block .cc-org-contact .field-content a {
  text-decoration: none;
}

#block-views-at-a-glance-block .views-label-field-organization-pbudget,
#block-views-at-a-glance-block .views-label-field-organization-abudget{
  float:left; 
  margin-right: 5px;
}


.block-views-commercial-services-block .view-header p {
  color: #666666;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.block-views-commercial-services-block .view-content{
  border-top: 1px dotted #666666;
  color: #2479CC;
  padding-top: 10px;
}

.block-views-commercial-services-block a:link, 
.block-views-commercial-services-block a:visited {
  color: #2479CC;
  text-decoration: none;
}

.cc-org-content h1.title {  /* title */
    color: #000000;
    font-family: 'PT Sans';
    font-size: 24px;
    left: 100px;
    position: absolute;
    top: 7px;
}

.field-name-field-organization-address{
  color: #2479CC;
  font-size: 18px;
  margin-left: 100px;
}

.view-interactions {
    color: #696969;
    font-size: 14px;
}

.view-cc-organizations, .view-interactions {
    font-family: PT Sans,Helvetica,sans-serif;
}

.views-field-field-interaction-organization a, .views-field-field-interaction-application a {
    color: #2479CC;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}


/* APPS DETAILED PAGE */

.block-views-cc-organizations-block .col-1 a, 
.block-views-cc-organizations-block .col-2 a {
    color: #2479CC;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.block-views-cc-organizations-block .views-field-field-organization-address{
  border-bottom: 1px dotted;
  color: #666666;
  font-size: 14px;
}

.block-views-cc-organizations-block h2.block-title{
   border-bottom: 1px dotted;
   color: #666666;
   font-family: 'PT Sans';
   font-size: 14px;
   margin: 0 0 10px;
   text-transform: uppercase;
}

.block-views-cc-organizations-block table {
  border: none;
}

.view-applications .view-header {
  color: #666666;
 }

/* Home */

.homeintro{
  text-align: center;
  padding-top: 20px;
}

.homeintro .field-name-body {
  color: #000000;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* slightly bigger subhead, reduce bottom padding */
.homeintro article p {
  font-size: 18px !important;
  margin-bottom: 0;
}

#block-block-24 {
    background-color: #D6E6F5;
    border: 2px solid #D6E6F5;
    box-shadow: none;
    color: #666666;
    font-family: 'PT Sans',helvetica,arial,sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 5px;
}

#block-block-24 h2.block-title {
    background-color: #2479CC;
    border: medium none;
    color: #FFFFFF;
    font: 18px/20px Helvetica,Arial,sans-serif;
    font-family: 'PT Sans',helvetica,arial,sans-serif;
    margin: -4px -7px 5px;
    padding: 14px 15px 14px;
    text-transform: uppercase;
}

.addtomarket0{
 color: #000000; 
 margin-bottom: 10px;
 font-size:13px;
}

.addtomarket1{
  color:#000000; 
  font-size: 16px; 
  font-weight: 600;
  text-align: center;
}

.addtomarketfooter{
 text-align:center;
}

.addtomarketlist{
  margin: 4px 0 25px;
  text-align: center;
}

.addtomarketlist a{
  text-decoration: none;
  font-size: 14px;
}

.addtomarketfooter a {
  text-decoration: none;
  font-size:13px;
}

/* Custom Search 2 */


#block-custom-search-blocks-2 label {
  color: #000000;
}

#block-custom-search-blocks-2 .form-actions input{
  border: 2px solid #FFFFFF;
  color: #ffffff;
  font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0 5px;
  background: none repeat scroll 0 0 #2479CC;
  border-radius: 0;
  border-color: transparent;
  padding: 8px;
}

button, input[type="reset"], input[type="submit"], input[type="button"],
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover,
button:link, input[type="reset"]:link, input[type="submit"]:link, input[type="button"]:link,
button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active,
button:visited, input[type="reset"]:visited, input[type="submit"]:visited, input[type="button"]:visited{
  border: 2px solid #FFFFFF;
  color: #ffffff;
  font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0 5px;
  background: none repeat scroll 0 0 #2479CC;
  border-radius: 0;
  border-color: transparent;
  padding: 8px;
}

#block-custom-search-blocks-2 .form-item-custom-search-blocks-form-2 {
  background: url("http://dev.cc.warecorp.com/sites/all/themes/civiccommons/images/advsearch6.png") no-repeat scroll left bottom transparent;
  padding-bottom: 41px;
  margin-bottom: -7px
}

#block-custom-search-blocks-2 .form-item-custom-search-criteria-or{
  border-top: 1px dotted #999999;
  padding-top: 7px;
}

.search-nodetype{
  float: right;
  margin-top: 10px;
  color: #666666;
}

.search-results p {
    margin-top: 0;
    width: 75%;
}

.search-results .title a{
  text-decoration: none; 
}

.search-results .title {
  font-size: 1.2em;
  margin-bottom: 0;
}

.search-results li {
    border-bottom: 1px dotted;
    margin-bottom: 1em;
}

#block-system-main .search-form {
    display: none;
    margin-bottom: 1em;
}

#block-custom-search-blocks-3{
  background-color: #DADADA;
  height: 53px;
  margin-left: 12px;
  margin-top: -16px;
}

#block-custom-search-blocks-3 .form-item-custom-search-blocks-form-3{
  float: left;
  margin-left: 30px;
}

#block-custom-search-blocks-3 input.form-text{
  font-size: 16px;
  height: 35px;
  margin-top: -6px;
  padding: 5px;
  vertical-align: middle;
}    
#block-custom-search-blocks-3 input.custom-search-button{
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
  width: 54px;
}

/* APPLICATIONS lists*/

/* don't want margin below one-line description for apps */
.view-applications .field-content p {
  margin-bottom: 0 !important; 
}

/* INTERACTIONS lists (aka activity feeds) */

.view-interactions .views-row .views-field-created {
  position: static; /* this one goes under, not on the right */
}

/* PLACES / ORG lists */

.views-view-grid td {
  position: relative;
}

/* list of cities by name */
.views-view-grid .views-field-php {
  padding: 0 !important;
}

/* Homepage Grid sharing/using icons */
.views-view-grid .views-field-php-3 {
  top: 2px; /* homepage grid needs to be tighter */
}

body.front .cc-org-prefix-using,
body.front .cc-org-prefix-sharing {
  /*text-indent: -9999px;*/ /* hide "using" and "sharing" text on front page */
  /* we may decide to do this in all lists -- it looks nice */
}


/* Sidebar
---------------------*/
.region-sidebar-second-inner .block {
  margin-bottom: 35px !important;
}

/***************************** OLGAS CSS ***********/

/* Olga Stylesheet */

/* -------- Main Content ------------ */
	body, a, p, ul, ol, li, td, div{
		font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
	h1, h2, h3, h4, h5, h6{
		font-family:'PT Sans', 'Helvetica', Arial, sans-serif;
	}
	.container-16 {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}
	.container-16 .cc-org-content  h1.title {   
		top: 0; 
		left: 0;
		margin: 0;
		color: #000;	
		font-size:28px;
		position: relative;
		padding: 0 0 0 100px;
		text-transform:capitalize;
	}
	.container-16 .region-content h1.title {    
		color: #000;	
		font-size:28px;
		line-height:32px;
		text-transform:capitalize;
	}
	.cc-org-content{
		position:relative;
	}
	.cc-org-content .block-system-main  .field-name-field-organization-logo .field-item img{
		top:0;
		left:0;
		position:absolute;
	}
	#page .grid-11 {
		margin-left: 15px;
		margin-right: 15px;
		width: 630px;
	}
	#block-cc-flag-block-flag-block li{
		list-style:none;
		float: right;
	}
	.block-system-main .field-name-field-organization-logo{
		float:left;
	}
	.region-content .field-group-format,
	.region-content .field{
		margin-bottom:15px;
		overflow:hidden;
	}
	.region-content .field-name-field-application-description{
		display:inline;
	}
	.region-content .field-name-field-application-description p{
		font:normal 14px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;;
	}
	.region-content .group_basic_info {
		clear:both;
		overflow:hidden;
	}
	.region-content .field-name-field-application-softfunction .field-items,
	.region-content .field-name-field-application-civfunction .field-items{
		overflow:hidden;
		padding:0;
	}
	.region-content .field-name-field-application-softfunction ,
	.region-content .field-name-field-application-civfunction{
		overflow:hidden;
		float:left;
	}
	.region-content .field-name-field-application-softfunction .field,
	.region-content .field-name-field-application-civfunction .field{
		margin-bottom:0;
	}
	.region-content .field-name-field-application-softfunction .field-items .field-item,
	.region-content .field-name-field-application-civfunction .field-items .field-item{
		float:left;
		color:#216240;
		padding:5px 8px;
		margin:0 10px 0 0;
		background:#a4dac0;
		border-top:1px solid #b9cec5;
		border-bottom:1px solid #b9cec5;
		font:normal 1em/1.2em 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
	.region-content .field-name-field-application-softfunction .field-items .field-item a,
	.region-content .field-name-field-application-civfunction .field-items .field-item a{	
		color:#216240;
		text-decoration:none;
		font:normal 1em/1.2em  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
	.region-content .field-name-field-application-softfunction .field-items .field-item a:hover,
	.region-content .field-name-field-application-civfunction .field-items .field-item a:hover{	
		color:#216240;
		text-decoration:underline;
		font:normal 1em/1.2em  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}

	.field .field-label,
	.section-content .block h2.block-title,
	.fieldset-legend {
	  color: #8A9093;
	  margin:0 0 10px;
	  padding:0 0 5px;
	  text-transform: uppercase;
	  border-bottom: 1px dotted #666666;
	  font:bold 14px/16px 'PT Sans', 'Helvetica', Arial, sans-serif;
	}	
	/* Key feautures */
	.region-content .field-name-field-application-featurs {
		height: auto;
	}
	.region-content .field-name-field-application-featurs .field-items .field-item,
	.region-content .field-name-field-application-demourl .field-items .field-item{	
		background: url("../images/dot.gif") no-repeat left 5px;
		font:normal 1em/1.2em   'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		padding:0 0 0 10px;
		margin:0 0 3px;
	}
	.region-content .field-name-field-application-featurs .field-items .field-item a:link,
	.region-content .field-name-field-application-featurs .field-items .field-item a:visited{	
		font:normal 1em/1.2em 'PT Sans', 'Helvetica', Arial, sans-serif;
		text-decoration:none;
		color:#696969;
	}
	.region-content .field-name-field-application-featurs .field-items .field-item a:hover{	
		font:normal 1em/1.2em  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		text-decoration:underline;
		color:#696969;
	}
	.region-content .field-name-field-application-featurs .field-items,
	.region-content .field-name-field-application-demourl .field-items{
		padding:0 0 0 20px;
	}
	/*Application*/	
	.block-system-main .cc-left    {
		padding-right: 350px;
		position: relative;
	}
	.block-system-main .cc-right   {		
		position: absolute;
		top:-35px;
		right:0;
	}
	.block-system-main .cc-right  img  {		
		margin-top:0;
	}
	#section-content .container-16 .grid-8.region-content-leftcolumn h2.block-title,
	#section-content .container-16 .grid-8.region-content-rightcolumn h2.block-title,
    #section-content .container-16 .grid-8.region-content-leftcolumn-lower h2.block-title,
    #section-content .container-16 .grid-8.region-content-rightcolumn-lower h2.block-title
	{		
		border:none;
		color: #FFFFFF;
		padding: 8px 12px 7px;
		background-color: #E1C83D;
		text-transform: uppercase;
		font:normal 18px/20px  'PT Sans', 'Helvetica', Arial, sans-serif;
	}
	#section-content .container-16 .grid-8.region-content-rightcolumn h2.block-title,
	#section-content .container-16 .grid-8.region-content-rightcolumn-lower h2.block-title{		
		margin-left:-20px;
		padding-left:20px;
	}
	.container-16 .grid-8 .block{
		margin-bottom:20px;
		font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		color:#666;
	}
	
	/* see line ~ */

	.container-16 .grid-8 .view-applications .views-field-field-application-logo,
	.view-at-a-glance-application- .views-field li img{
		float:left; 
		margin-right: 10px;
	}
	.page-taxonomy-term h2.node-title a,	
	.view-applications .views-field-title a {
		color: #2479CC;
		font-size: 16px;
		font-weight: 700;
		line-height:18px;
		text-decoration: none;
	}

	.page-taxonomy-term .node-readmore {
        	display: none;
	}

	.view-applications .views-field-title a:hover {
		text-decoration: underline;
	}
	.view-applications .views-field-field-application-sdesc{
		width:55%;
		float:left;
		line-height:16px;
	}
	.view-applications .views-field-field-interaction-organization{
		width:65%;
		float:left;
	}
	.container-16 .grid-8 .view-applications .views-field-count{		
		font-size:14px;
		text-align:right;
		padding:0 5px 0 32px;
		background: url("../images/icon_watch.gif") no-repeat left 2px;
	}
	.container-16 .grid-8 .view-applications .views-field-php{
		height:30px;
		font-size:14px;
		line-height:26px;
		text-align:right;
		padding:0 5px 0 27px;
		background: url("../images/icon_place_mini.gif") no-repeat left top;
	}
	.container-16 .grid-8 .view-applications .views-field-field-interaction-date,
	.container-16 .grid-8 .block-applications-block-3 .views-field-created{
		float:right;
		font-size:14px;
		line-height:26px;
		text-align:right;
		padding:0 5px;
		margin:0;
	}
	.container-16 .grid-8 .view-applications .views-field-php span.count{
		font-size: 22px;
		font-weight: bold;
	}
	.container-16 .grid-8 .more-link {
		padding-right:10px;
	}
	.container-16 .grid-8 .more-link a:link{
		color:#000;
		text-decoration:none;
		font-size:14px;
	}
	.container-16 .grid-8 .more-link a:hover{
		text-decoration:underline;
	}
	.container-16 .grid-8 .views-field-field-interaction-organization a	{
		font-weight: normal;
	}
	.container-16 .grid-8 .view-display-id-block_4{
		font-size:14px;
		line-height:18px;
	}
	.container-16 .grid-8 .view-display-id-block_3{
		line-height:18px;
	}
	.addapp .button-add1,
	.spotapp .button-add2{
	  box-shadow: 0 1px 8px 1px #A2A7AA;
	  font-family:'PT Sans', 'Helvetica', Arial, sans-serif;
	  height: 35px;
	  margin-right: 10px; 
	  margin-top: 30px;
	  width: 120px;
	}

	.addapp .button-add1 { /*gold*/
	  padding: 10px 15px;
	  background-color: #E49A2F;   
	  text-decoration:none;
	  font-size:16px;
	  color: #fff;
	}

	.spotapp .button-add2 {   /* Blue */
	  padding: 10px 15px;
	  background-color: #2479CC;  
	  text-decoration:none;
	  font-size:16px;
	  color: #fff;
	}


        #block-views-interactions-block-2  .views-row,
/*        #block-views-interactions-block-4  .views-row, targetted below */
	.view.view-interactions.view-id-interactions.view-display-id-block_4.view-dom-id-5 .views-row, 
        #block-views-interactions-block-3  .views-row,
	.zone-content .view-cc-organizations .views-row,
	.block-views-interactions-block .views-row, 
        .region-content-rightcolumn .block-applications-block-3 .view-applications .views-row,
        .container-16 .grid-8 .view-applications .views-row{
                overflow:hidden;
                border-bottom:1px dotted #666;
                padding:5px 0;
        	height: 60px;
	}

	.region-content-rightcolumn .block-applications-block-3 .view-applications .views-row {
		height: 60px;
		padding-bottom: 5px;
	}

/* http://dev.cc.warecorp.com/places/Burlington */
.view.view-cc-organizations.view-id-cc_organizations.view-display-id-block_1.view-dom-id-4 .views-row,
.view.view-interactions.view-id-interactions.view-display-id-block_4.view-dom-id-5 .views-row {
	height: 60px;
}

	/*Browse by*/
	.container-16 #block-block-21 h2.block-title,
	.container-16 #block-block-22 h2.block-title{		
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font:normal 18px/20px 'PT Sans', 'Helvetica', Arial, sans-serif;
		padding: 8px 15px 7px;
		text-transform: uppercase;
		margin-bottom:0;
	}	
	#block-views-apps-browse-by-block-2,
	#block-views-apps-browse-by-block-1{
		border-bottom:1px dotted #666;
		padding:20px 0;
	}
	#block-views-apps-browse-by-block{
		margin-bottom:10px;
		padding:20px 0;
	}
	#block-views-apps-browse-by-block-2 h2.block-title,
	#block-views-apps-browse-by-block-1 h2.block-title,
	#block-views-apps-browse-by-block h2.block-title{
		float:left;
		border:none;
		width:125px;
		text-align:center;
		padding:0;
		margin:0;
	}	
	#block-views-apps-browse-by-block-2 h2.block-title{
		background:url("../images/place2.gif") no-repeat center top;
		padding-top:80px;
		color:#eead11;
	}	
	#block-views-apps-browse-by-block-1 h2.block-title{
		background:url("../images/soft.gif") no-repeat center top;
		padding-top:80px;
		color:#eead11;
	}		
	#block-views-apps-browse-by-block h2.block-title{
		background:url("../images/civic2.gif") no-repeat center top;
		padding-top:80px;
		color:#eead11;
	}	
	#block-views-apps-browse-by-block-2 .content.clearfix,
	#block-views-apps-browse-by-block-1 .content.clearfix,
	#block-views-apps-browse-by-block .content.clearfix{
		float:left;
		width:80%;
	}
	.container-16 .grid-16 #block-views-apps-browse-by-block-2 .content.clearfix,
	.container-16 .grid-16 #block-views-apps-browse-by-block-1 .content.clearfix,
	.container-16 .grid-16 #block-views-apps-browse-by-block .content.clearfix{
		float:left;
		width:86%;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid,
	#block-views-apps-browse-by-block-1 table.views-view-grid,
	#block-views-apps-browse-by-block table.views-view-grid{
		border:none;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td,
	#block-views-apps-browse-by-block-1 table.views-view-grid td,
	#block-views-apps-browse-by-block table.views-view-grid td{
		padding:0 15px 0 20px;
		color: #666666;
		font-size: 14px;
		vertical-align: top;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td a,
	#block-views-apps-browse-by-block-1 table.views-view-grid td a,
	#block-views-apps-browse-by-block table.views-view-grid td a{
		text-decoration:none;
		color: #666666;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td a:hover,
	#block-views-apps-browse-by-block-1 table.views-view-grid td a:hover,
	#block-views-apps-browse-by-block table.views-view-grid td a:hover{
		text-decoration:underline;
		color: #666666;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td.col-1,
	#block-views-apps-browse-by-block-2  table.views-view-grid td.col-2,
	#block-views-apps-browse-by-block-1 table.views-view-grid td.col-1,
	#block-views-apps-browse-by-block-1 table.views-view-grid td.col-2,
	#block-views-apps-browse-by-block  table.views-view-grid td.col-1,
	#block-views-apps-browse-by-block table.views-view-grid td.col-2{
		width:35%;		
	}
	#block-views-apps-browse-by-block-1 table.views-view-grid td.col-3
	#block-views-apps-browse-by-block-2 table.views-view-grid td.col-3
	#block-views-apps-browse-by-block table.views-view-grid td.col-3{
		width:30%;		
	}
	/*Application in action*/
	span.fieldset-legend{
		display:block;
		width:630px
	}
	.region-content .field-name-field-application-demourl {
		float: none;
		margin-left: 0;
		width: auto;
	}
	.region-content .field-name-field-application-demourl a:link, 
	.region-content .field-name-field-application-demourl a:visited {
		background: none;
		box-shadow: none;
		height: auto;
		margin-top: 0;
		text-indent:0;
		width: auto;
	}
	.region-content .field-name-field-application-screenshots .field-items:after {
		content: '.'; 
		display: block; 
		clear: both; 
		visibility: hidden;
		height: 0; 
		line-height: 0;
	}
	.region-content .field-name-field-application-screenshots .field-items .field-item{
		float:left;
		width:307px;
		height:202px;
		text-align:left;
		margin:0 0 15px;
	}
	.region-content .field-name-field-application-screenshots .field-items .field-item img{
		border:1px solid #8e9396;
	}
	.region-content .field-name-field-application-screenshots .field-items .field-item.odd{
		text-align:right;
	}
		
	/* Block Views Organizations */
	.view-cc-organizations table.views-view-grid {
		margin-top:10px;
		font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
	.view-cc-organizations table.views-view-grid td {
		width:50%;
	}
	.view-cc-organizations table.views-view-grid  .views-field-field-organization-address{
		padding-bottom:8px;
	}
	.view-cc-organizations table.views-view-grid  tr.row-last .views-field-field-organization-address{
		border:none;
	}
	.container-16 .grid-8 #block-views-cc-organizations-block-1 .view-cc-organizations .views-field-title,
	.container-16 .grid-8 #block-views-cc-organizations-block-1 .view-cc-organizations .views-field-field-organization-address,
	.container-16 .grid-8 #block-views-places-block-2 .views-field-title,
	.container-16 .grid-8 #block-views-places-block-2 .views-field-field-organization-address,
	.container-16 .grid-8 #block-views-places-block-1 .views-field-title,
	.container-16 .grid-8 #block-views-places-block-1 .views-field-field-organization-address,
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .views-field-title,
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .views-field-field-application-sdesc{
		width:60%;
		font-family: 'PT Sans', 'Helvetica', Arial, sans-serif;
	}
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .places-flags{
		float:right;
		overflow:hidden;
		margin-top:-30px;
		width:40%;
	}	
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .flags{
		background: url("../images/icon_watch.gif") no-repeat left 4px;
		padding:3px 0 0 32px;
		float:right;
	}
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .views-field-title a,
	.view-apps-this-organization-has-used .views-field-title a	{
		color: #2479CC;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
	}
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .views-field-title a:hover,
	.view-apps-this-organization-has-used .views-field-title a:hover {
		text-decoration: underline;
	}
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .places{
		background: url("../images/icon_place_mini.gif") no-repeat left top;
		padding:0 30px;
		float:left;
	}
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .places span {
		font-size: 22px;
		font-weight: bold;
		line-height:26px;
	}
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .places-flags .places,
	.container-16 .grid-11 .block-ec4dedca467f7a3362801868ff73408d .places-flags .flags{
		color:#666;
		font-size:14px;
		text-align:right;
		line-height:26px;
	}
	/*.view-cc-organizations .views-field-php,
	#block-views-places-block-2 .views-field-php,
	#block-views-places-block-1 .views-field-php-3{
		float:right;
		margin-top:-40px;
	}*/
	.view-cc-organizations .views-field-php .cc-org-apps,
	#block-views-places-block-1 .views-field .cc-org-apps,
	#block-views-places-block-2 .views-field .cc-org-apps{
		width: auto;
		color: #808080;
		font-size: 14px;
		padding-right:10px;
		text-transform: lowercase;
	}
	.view-cc-organizations .views-field-php .cc-org-prefix-sharing,
	#block-views-places-block-1 .views-field-php-3 .cc-org-prefix-sharing,
	#block-views-places-block-2 .views-field-php .cc-org-prefix-sharing	{
		background-position: center top;
	}
	.view-cc-organizations .views-field-php .cc-org-count,
	#block-views-places-block-1 .views-field-php-3 .cc-org-count,
	#block-views-places-block-2 .views-field-php .cc-org-count{
		color: #808080;
		font-weight: bold;
	}
	.view-cc-organizations .views-field-php .cc-org-postfix,
	#block-views-places-block-1 .views-field-php-3 .cc-org-postfix,
	#block-views-places-block-2 .views-field-php .cc-org-postfix{
		display:none;
	}
	.view-cc-organizations .views-field-title a,
	#block-views-places-block-1 	 .views-field-php a,
	#block-views-places-block-2 .views-field-title a{
		color: #2479CC;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
		font-family:  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
	.view-cc-organizations .views-field-title a:hover,
	#block-views-places-block-1 	 .views-field-php a:hover,
	#block-views-places-block-2 .views-field-title a:hover{
		text-decoration: underline;
	}
	#popup{
		color:#666;
	}
	/* Place Detail */
	.zone-content .region-content .block{
		margin-bottom:20px;
		font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
	.zone-content .region-content .block h2.block-title{
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font:normal 18px/20px 'PT Sans', 'Helvetica', Arial, sans-serif;
		padding: 8px 15px 7px;
		text-transform: uppercase;
	}

	.page-taxonomy-term article,
/*	.zone-content .view-cc-organizations .views-row, */
/*	.block-views-interactions-block   .views-row, */
/*	#block-views-places-block-1 	 .views-row , */
	#block-views-places-block-2 	 .views-row {
		border-bottom:1px dotted #666;
		padding:10px 0 15px;
	}

	.container-16 .grid-8 #block-views-places-block-1 .view-places .views-row .views-field-php {
		position:relative;
		bottom:0;
	}
	/*.contextual-links-region #block-views-cc-organizations-block-1,
	.contextual-links-region #block-views-interactions-block{
		width:50%;
		float:left;
	}*/
	.view-interactions	{
		font-size: 14px;
		color:#696969;
	}
	.view-interactions .views-field-field-interaction-application .field-content{
		font-weight: bold;
		text-transform: lowercase;
	}
	.view-interactions .views-field-field-interaction-application .field-content a{
		text-transform: none;
	}
	.views-field-field-interaction-organization a,
	.views-field-field-interaction-application a	{
		color: #2479CC;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
	}
	.views-field-field-interaction-organization a:hover,
	.views-field-field-interaction-application a:hover	{
		text-decoration: underline;
	}
	.block-views-interactions-block .views-field-field-interaction-type .field-content{
		font-weight:bold;
		float:left;
		padding-right: 5px;
	}
	#block-views-cc-organizations-block .openlayers-views-map{
		border: 1px solid #999999;
	}
	/* Map */
	
	.openlayers-views-map h2.point-title {
		margin-bottom:10px;
	}
	.openlayers-views-map h2.point-title a,
	.openlayers-views-map h2.point-title{
		font-family: 'PT Sans', 'Helvetica', Arial, sans-serif;
		font-size:18px;
		line-height:20px
	}
	
	img.setmap{       /* map image */
	    width: 100%;
	    height: 400px;
	}
	
	#block-views-cc-organizations-block .openlayers-views-map .openlayers-tooltip-name{
		display:none;
	}
	.openlayers-views-map{
		border:2px solid #aaa;
	}
	/* td th for map area */
	
	.view-cc-organizations td, .view-cc-organizations th {
        padding: 4px 0;
    }

	/* Activity  */
	#block-block-23{
		border-bottom:1px dotted #666;
		padding:  10px 0;
		margin-bottom:0;
	}
	#block-block-23 h2.block-title,
	#block-views-interactions-block-3 h2.block-title{
	  color: #8A9093;
	  margin:0 0 10px;
	  padding:0 0 5px;
	  background:none;
	  text-transform: uppercase;
	  border-bottom: 1px dotted #666666;
	  font:bold 14px/16px 'PT Sans', 'Helvetica', Arial, sans-serif;
	}	
	#block-block-23 .content form div.has-you-tried{
		font-weight: bold;
	}
	#block-block-23 .content form div{
		color: #000000;
		font-size: 14px;
		float: left;		
		width: 50%;
	}
	

	#block-views-interactions-block-4 .views-field-created,
	#block-views-interactions-block-3 .views-field-created{
		margin:0;
	}	
	
	/* tracking 99 apps in 5 cities */
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid td {
		border-bottom:1px dotted #8a9093;
		padding:10px 0;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .field-content a {
		color: #2479CC;
		font-size: 16px;
		font-weight: 700;
		line-height:18px;
		text-decoration: none;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .field-content a:hover {
		text-decoration: underline;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .views-field-php{
		float: left;
		display:block;
		min-height:60px;
		width:55%;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .views-field-php-3{
		float: right;
		overflow: hidden;
		width: 150px;
		color:#808080;
	}
	.view-places .views-field-php,
	.view-places .views-field-php-3,
	.view-cc-organizations .views-field-php{
		width:150px;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .views-field-php-3 .cc-org-count {
		color:#808080;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .views-field-php-3 .cc-org-postfix{
		display:none;
	}
	.container-16 .grid-11 #block-views-apps-browse-by-block-2 table.views-view-grid .col-1 .views-field-php-3 .cc-org-apps {   
		margin-bottom: 0;
	}
/* --------- Sidebar Second ------------ */
	.region-sidebar-second-inner .block{
		border: 2px solid #FFFFFF;
		-webkit-box-shadow: 0 1px 8px 1px #DED8D8;
		box-shadow: 0 1px 8px 1px #DED8D8;
		color: #666666;
		font-family:  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		padding: 0 5px;
		margin-bottom: 10px;
		margin-top:0;
	}
	.region-sidebar-second-inner .block h2.block-title{
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font-size: 16px;
		font-weight: 600;
		margin: -4px -7px 5px;
		padding: 8px 15px 7px;
		text-transform: uppercase;
	}
	.region-sidebar-second-inner .block li.views-row{
		border-bottom: 1px dotted;
		margin:0 0 10px;
		padding-bottom: 10px;
	}
	.region-sidebar-second-inner .block li.views-row-last{
		border-bottom: none;
	}
	.region-sidebar-second-inner  .content{
		padding: 7px;
	}
	.region-sidebar-second-inner  .cc-rel-apps-find-more-in-title{
	  color: #666666;
	  margin: 0 0 10px;
	  text-transform: uppercase;
	  border-bottom: 1px dotted;
	  font:normal 12px 'PT Sans', 'Helvetica', Arial, sans-serif;
	  padding-bottom: 7px;
	}
	.region-sidebar-second-inner  table.views-view-grid{
		border:none;
	}
	.region-sidebar-second-inner  table.views-view-grid td{
		padding:2px 5px 3px;
		color:#2479CC;
	}
	.region-sidebar-second-inner .block a:hover{
		text-decoration:none;
	}
	.region-sidebar-second-inner .block  table.views-view-grid td a:link,
	.region-sidebar-second-inner .block  table.views-view-grid td a:visited{
		text-decoration:none;
		cursor:pointer;
	}
	.region-sidebar-second-inner .block  table.views-view-grid td a:hover,
	.region-sidebar-second-inner .block   table.views-view-grid td a:active,
	.region-sidebar-second-inner .block  table.views-view-grid tr:hover td a{
		text-decoration:underline;
		cursor:pointer;
	}
	.region-sidebar-second-inner  .item-list .views-field-title a {
		font:bold 16px  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		text-decoration: none;
	}
	.region-sidebar-second-inner  .block-views-at-a-glance-block .view-content{
		clear:both;
	}
	/* At A Glance */	
	.region-sidebar-second-inner .view-at-a-glance-application- a:link {
		text-decoration:none;		
	}
	.region-sidebar-second-inner .view-at-a-glance-application- a:hover {
		text-decoration:underline;		
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul{
		margin:0;
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li{
		overflow:hidden;
		margin-bottom:5px;
		list-style:none;
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li img{
		float:left;
		margin-right:10px;
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li a,
	.view-at-a-glance-application- .views-field-php li a{
		font-weight:bold;
		font-size: 16px;		
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li div{
		color:#aaa;
		float:left;
		line-height:20px;
		padding-right:5px;
	}
	.view-at-a-glance-application- .view-header .views-label,
	.view-at-a-glance-application- .views-field .views-label{
		color: #8A9093;
		margin:0 0 10px;
		padding:0 0 5px;
		text-transform: uppercase;
		border-bottom: 1px dotted #666666;
		font-weight:bold;
		font-size:13px;
		display:block;
		clear:both;
	}	
	.view-at-a-glance-application- .views-field {
		margin-bottom:15px;
		overflow:hidden;
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-count,
	.view-at-a-glance-application-  .cc-app-places .cc-places-postfix{
		float:left;
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-count{
		font: bold 30px/32px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		background: url("../images/icon_place2.gif") no-repeat left top;
		padding:5px 5px 5px 35px;
		
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-postfix{
		font: normal 18px/20px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		padding-top:15px;
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-list-link{
		float:right;	
		padding: 16px 0 0;
	}
	.view-at-a-glance-application-  .views-field-field-application-creator a{
		font-size: 18px;
		font-weight: bold;
	}
	.view-at-a-glance-application-  .views-field-field-application-deliverymeth,
	.view-at-a-glance-application-  .views-field-field-application-license,
	.view-at-a-glance-application-  .views-field-field-application-rlss{
		width:50%;
		float:left;
	}
	.view-at-a-glance-application-  .views-field-edit-node,
	.view-vendors-who-service-this-app-blo .view-footer,
	#block-views-cc-organizations-block .view-footer,
	.view-at-a-glance-application-  .cc-app-places{
		width:100%;
		clear:both;
		text-align:right;
		overflow:hidden;
	}
	.view-at-a-glance-application-  .views-field-edit-node span a,
	.view-at-a-glance-application-  .views-field-edit-node span a:hover,
	.view-vendors-who-service-this-app-blo .view-footer a,
	#block-views-cc-organizations-block .view-footer a,
	.view-at-a-glance-application-  .cc-app-places a{
		text-decoration:none;
		background:#d6e6f6;
		display:block;
		padding:5px 20px;
		float:right;
	}
	.cc-org-content  .view-footer a{
		text-decoration:none;
	}
	.container-16  .grid-11 .node-application .field-name-field-application-description .field-items{
		padding-top:15px;
	}
/* --------- Footer -------- */	
#zone-footer-wrapper .block-block-7 .content{
	 height: 231px;
}
#zone-footer-wrapper .block-block-6 .content{
	 height: 231px;
}

/* --------- Tanya Stylesheet -------- */

#block-views-cc-organizations-block h2.block-title, 
#block-views-ec4dedca467f7a3362801868ff73408d h2.block-title, 
#block-views-f180557b90e1950dc78c1a58bbf318df h2.block-title, 
#block-views-interactions-block h2.block-title, 
#block-views-interactions-block-3 h2.block-title{
	border-color:#8a9093;
}


