/* This file will hold the main styles for your website. */

body {
  background-image: url('../images/bg3.png');
  background-repeat: repeat;
}

.page {
  background-color: #fff;
}


.region-content h1.title {
  color: #2479cc; 
  font-family: helvetica; 
  font-size: 24px;
}


/* SIDE BAR BLOCK */
.block-views-related-contents-block{
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 3px 3px 4px #DED8D8;
  box-shadow: 3px 3px 4px #DED8D8;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#DED8D8')";
 /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#DED8D8');
  box-shadow: 3px 3px 4px #DED8D8;
  color: #666666;
  font-family: helvetica;
  padding: 2px 5px 5px;
}

.block-views-related-contents-block h2.block-title {
  background-color: #E1C83D;
  color: #FFFFFF;
  font-family: helvetica;
  font-size: 9.5pt;
  font-weight: 500;
  letter-spacing: 0;
  margin: -4px -7px 0;
  padding: 7px 3px 3px 10px;
}

.latest-contents .views-field-title a:link, .latest-contents .views-field-title a:visited {
  color: #666666;
}


/* TOP MENUS */
.block-nice-menus-1, .block-nice-menus-2{
  float: right;
}

.block-nice-menus-2{
  background-color: #D7E7F7;
}

.block-nice-menus-1 .block-inner .content ul.nice-menu,
.block-nice-menus-1 .block-inner .content ul.nice-menu ul,
.block-nice-menus-1 .block-inner .content ul.nice-menu li {
    border: 0;
    background: none;
}

.block-nice-menus-1 .block-inner .content ul.nice-menu a {
    color: #666666;
    display: block;
}

.block-nice-menus-1 .block-inner .content ul.nice-menu li a:hover, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li a:active, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li a:link,
.block-nice-menus-1 .block-inner .content ul.nice-menu li a:visited, 
ul.nice-menu li a:visited  { 
    color:#666666; 
    background: #fff;
    text-decoration: none;
    background: url("../images/nav_separator.png") no-repeat scroll right center transparent;
    padding-left: 0.8em;
    padding-right: 0.8em;  
}

.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:hover, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:active, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:link, 
.block-nice-menus-1 .block-inner .content ul.nice-menu li.last a:visited  { 
    color:#666666; 
    background: #fff;
    text-decoration: none;
    background: none;
    padding-left: 0.8em;
    padding-right: 0.8em;  
  }
  
  
.block-nice-menus-2 .block-inner .content ul.nice-menu,
.block-nice-menus-2 .block-inner .content ul.nice-menu ul,
.block-nice-menus-2 .block-inner .content ul.nice-menu li {
    border: 0;
    background: none;
}

.block-nice-menus-2 .block-inner .content ul.nice-menu a {
    color: #666666;
    display: block;
}
 
 
.block-nice-menus-2 .block-inner .content ul.nice-menu li a:link, 
.block-nice-menus-2 .block-inner .content ul.nice-menu li a:visited  { 
    color:#3399ff; 
    background-color: #d6e6f5;
    text-decoration: none;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 16px;  
}


.block-nice-menus-2 .block-inner .content ul.nice-menu li a:hover{
  color:#3399ff; 
  background-color: #d6e6f5;
  text-decoration: none;
  background: url("../images/hover_triangle.png") no-repeat scroll bottom center transparent;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 16px; 
}
.block-nice-menus-2 .block-inner .content ul.nice-menu li a:active{
  color:#3399ff; 
  background-color: #d6e6f5;
  text-decoration: none;
  background: url("../images/hover_triangle.png") no-repeat scroll bottom center transparent;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 16px; 
}



/* DOORMAT */
.block-block-5 .block-title{
  background-color: #DADADA;
  color: #666666;
  font-family: helvetica;
  font-size: 12.5pt;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin: -4px -23px 1px 1px;
  padding: 7px 3px 3px 19px;
}

.block-block-5 .content{
  background-color: #E0E0E0;
  height: 205px;
  margin: -1px -23px 0 1px;
  padding: 10px 0 0 20px;
  color: #999999;
}

.block-block-6 .block-title{
  background-color: #DADADA;
  color: #666666;
  font-family: helvetica;
  font-size: 12.5pt;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin: -4px -31px 1px 4px;
  padding: 7px 3px 3px 19px;
}

.block-block-6 .content{
  background-color: #E0E0E0;
  height: 205px;
  margin: -2px -31px 0 4px;
  padding: 10px 0 0 20px;
  color: #999999;
}

.block-block-7 .block-title{
    background-color: #DADADA;
    color: #666666;
    font-family: helvetica;
    font-size: 12.5pt;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin: -4px 0 5px 12px;
    padding: 7px 3px 3px 19px;
}

.block-block-7 .content{ 
  background-color: #E0E0E0;
  height: 205px;
  margin: -5px 0 -5px 12px;
  padding: 10px 0 0 20px;
  color: #999999;
}

/* SEARCH BAR */
.block-search-form{
  background-color: #DADADA;
  height: 34px;
  margin-left: 12px;
  margin-top: -4px;
  padding: 10px;
}

#edit-search-block-form--2{
  background: none repeat scroll 0 0 #ECECEC;
  border: 0 none;
  padding: 9px 5px;
  width: 232px;
  height: 35px
}

.block-block-8{
  background-color:#297fd1; 
  padding: 10px; 
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-block-8 p{
  margin-left: 31%; 
  margin-top: -40px; 

}

.search_dropdown2{
  width: 30%; 
  height: 40px; 
  padding-left: 15px; 
  padding-top: 10px; 
  color: #999999; 
  font-size: 15px; 
}

.search_textfield{
  color: #999999;
  font-size: 14px;
  height: 33px;
  padding-left: 12px;
  width: 87%;
}

.submit_btn{
  height: 41px; 
  margin-left: 7px;
}


.styled_select {
  background: url("../images/search_arrow3.png") no-repeat scroll right center #FFFFFF;
  overflow: hidden;
  width: 30%;
}

.styled_select select {
  background: none repeat scroll 0 0 transparent;
  color: #999999;
  font-size: 15px;
  height: 40px;
  padding-left: 15px;
  padding-top: 10px;
  width: 120%;
}