/* ie-7 Stylesheet */

.region-sidebar-second-inner {
    display: inline;
    float: left;
    margin: 0 10px;
    position: relative;
    width: 280px;
}
#section-content .region-sidebar-second-inner .block{
	margin-bottom: 10px;
	padding-left:0;
	padding-right:0;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength=4, direction=135, color='#DED8D8');
	box-shadow: 0 1px 8px 1px #DED8D8;
}
#section-content .region-sidebar-second-inner .block h2.block-title {
	margin-left:0;
	margin-right:0;
	padding-right:0;
	padding-left:0;
	text-indent:7px;
}
.block-custom-search-blocks-1 input.custom-search-box {
    line-height: 28px;
    padding: 0 !important;
	text-indent:5px;
	height:30px !important;
}

/* Menu top fix start  => */
ul.nice-menu, ul.nice-menu ul {
    position: relative;
    z-index: 5;
}
ul.nice-menu:after {
	content: '.'; 
	display: block; 
	clear: both; 
	visibility: hidden;
	height: 0; 
	line-height: 0;
}
ul.nice-menu li{
    display:block;
	float:left;
}
#block-nice-menus-2,
#block-nice-menus-1{
    width: 100% !important;
}
/* <= Menu top fix finish */

.field-type-text-with-summary ol li{
	list-style:decimal !important;
	list-style-position:inside !important;
	display:block;
}
.field-type-text-with-summary ol{
	margin-left:25px !important;
	display:block;
}
a#fdbk_tab {
    position: fixed !important;
}

/* Using and sharing fix start => */
.block-at-a-glance-block .cc-org-prefix-using, .block-at-a-glance-block .cc-org-prefix-sharing {
    padding-top: 30px !important;
    text-indent: 0;
}
/* <= Using and sharing  fix finish */

/* Search field fix start => */
#region-search-bar .form-item, #region-search-bar .form-item-custom-search-blocks-form-1 {
    width: 623px !important;
}
.block-custom-search-blocks-1 .content {
    padding-left: 7px !important;
}
/* Search field fix finish => */

.group-app-media legend{
	margin-bottom:0 !important;position: relative; left: -7px !important;
}
	
.fieldset-wrapper  .group_app_screenshots{
	line-height:0;
}