/* Nicks CSS */

/* 
#
#  Hi Paul & Olga!
#
#  I went through the site and made a handful of minor edits,
#  to smooth the design.  Some are consistent w/ the mockups 
#  but some deviate, based on how it looks in the flesh.
#
#  I also attempted to write simpler, more generic styles for the
#  elements that are reused throughout the site, such as
#  view-rows.  Hopefully this approach will make it easy to
#  extend the site in new ways in the future.
#
#  For any changes that deviate from the MVP mockups
#  (here: https://civiccommons.notableapp.com/sets/4d38c618236e34738f1b2ab9ed8b581831d7ad9e)
#  please assume that changes in the doc override the design
#  shown in the mockups.
#
#  Feel free to copy style rules out of this file and into another
#  files.  
#
#  Thanks!  I'll be around --- you can find me on skype at nickygskype
#  and on IRC at nickyg on irc.freenode.net.
#
#  -- Nick
#
*/


/* Lists of things
------------------- */

/* Move viewing / sharing to top of row, from bottom */
.view-applications .views-field-php,
.view-places .views-field-php,
.view-places .views-field-php-3,
.view-applications .views-field-created {
  top: 8px !important; 
}

/* for lists of apps on places page, keep icons flush right */
.view-places .views-field-php,
.view-places .views-field-php-3,
.view-apps-browse-by .views-view-grid .views-field-php-3
 {
  min-width: 0 !important; /* don't specify a width -- keep them right aligned */
  width: 150px !important;
}

/* Activity feed AKA interactions list */
.view-interactions .views-row {
  min-height: 0 !important;
}




