/* Olga Stylesheet */
.container-16 .view-interactions .views-row {
	min-height: 0 !important;
}
.container-16  .views-row{
	min-height:67px;
}
.more-link{
	line-height:18px;
}
#block-views-interactions-block-1 h2.block-title{
	text-indent:-999px;
}
.views-row:after {content: '.'; display: block; clear: both; visibility: hidden;height: 0; line-height: 0;}

.view-application-releases .views-field-field-application-logo{
	float:left; 
	margin-right: 10px;
}
.views-field-field-application-logo {
    float: left;
    margin-right: 10px;
}
.container-16 .grid-8 #block-views-applications-block-4 .views-field-title,
.container-16 .grid-8 #block-views-applications-block-4 .views-field-field-organization-address{
	width:75%;
}

/* Tatsiana Stylesheet */

 #popup_FrameDecorationDiv_0, #popup_FrameDecorationDiv_1{
 padding-bottom:1px;
}

#popup_FrameDecorationDiv_0, #popup_FrameDecorationDiv_2{
 padding-right:1px;
}

/* + add a photo or video button */
.add-media-button{
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
    width: 100%;
}
.add-media-button a{
    background: #D6E6F6;
    display: block;
    float: right;
    padding: 5px 20px;
    text-decoration: none;
}
#region-content-doormat{
	width:940px;
}

#region-content-doormat #block-views-apps-browse-by-block table.views-view-grid td{
	width:auto;
}
.container-16 .view-commercial-services .views-row{
	min-height:0;
	border-bottom:none;
	padding-bottom:0 !important;
	padding-top:0 !important;
}
.container-16 .block-f180557b90e1950dc78c1a58bbf318df .views-row,
.container-16 .view-apps-this-organization-has-creat .views-row{
	min-height:0;
	color:#666;
}
#block-views-at-a-glance-application-block .view-footer {
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
    width: 100%;
}
#block-views-at-a-glance-application-block .view-footer a {    
    background:#D6E6F6;
    display: block;
    float: right;
    padding: 5px 20px;
}
.grid-5 .view-at-a-glance-application- .views-row{
	border-bottom:none;
}
#node_application_full_group_app_media .add-data-button a{
	padding-left:5px;
}
#block-views-cc-organizations-block .view-cc-organizations .openlayers-views-map{
	border:none;
}
#node_application_full_group_app_media {
	color:#666;
}
#block-block-23 .content form div.has-you-tried {
   padding:10px 0;
}
#block-block-23 .content form div {
    text-align:right;
}
#block-block-23 .content form div.has-you-tried {
    text-align:left;
}