/* Olga Stylesheet */

/* -------- Main Content ------------ */
	
	.container-16 {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}
	.region-content h1.title {
		color: #000;	
		font-size:28px;
		font-family: 'PT Sans', helvetica, arial, sans-serif;
	}
	#page .grid-11 {
		margin-left: 15px;
		margin-right: 15px;
		width: 630px;
	}
	.region-content .field-group-format,
	.region-content .field{
		margin-bottom:15px;
		overflow:hidden;
	}
	.region-content .field-name-field-application-description{
		display:inline;
	}
	.region-content .field-name-field-application-description p{
		font:normal 14px Helvetica, Arial, sans-serif;
	}
	.region-content .group_basic_info {
		clear:both;
		overflow:hidden;
	}
	.region-content .field-name-field-application-softfunction .field-items,
	.region-content .field-name-field-application-civfunction .field-items{
		overflow:hidden;
		padding:0;
	}
	.region-content .field-name-field-application-softfunction ,
	.region-content .field-name-field-application-civfunction{
		overflow:hidden;
		float:left;
	}
	.region-content .field-name-field-application-softfunction .field,
	.region-content .field-name-field-application-civfunction .field{
		margin-bottom:0;
	}
	.region-content .field-name-field-application-softfunction .field-items .field-item,
	.region-content .field-name-field-application-civfunction .field-items .field-item{
		float:left;
		padding:5px 8px;
		color:#216240;
		margin:0 10px 0 0;
		background:#a4dac0;
		border-top:1px solid #b9cec5;
		border-bottom:1px solid #b9cec5;
		font:normal 1em/1.2em  'PT Sans', helvetica, arial, sans-serif;
	}
	.region-content .field-name-field-application-softfunction .field-items .field-item a,
	.region-content .field-name-field-application-civfunction .field-items .field-item a{	
		color:#216240;
		text-decoration:none;
		font:normal 1em/1.2em 'PT Sans', helvetica, arial, sans-serif;
	}
	.region-content .field-name-field-application-softfunction .field-items .field-item a:hover,
	.region-content .field-name-field-application-civfunction .field-items .field-item a:hover{	
		color:#216240;
		text-decoration:underline;
		font:normal 1em/1.2em 'PT Sans', helvetica, arial, sans-serif;
	}

	.field .field-label,
	.section-content .block h2.block-title,
	.fieldset-legend {
	  color: #8A9093;
	  margin:0 0 10px;
	  padding:0 0 5px;
	  text-transform: uppercase;
	  border-bottom: 1px dotted #666666;
	  font:bold 14px/16px 'PT Sans', helvetica, arial, sans-serif;
	}	
	/* Key feautures */
	.region-content .field-name-field-application-featurs {
		height: auto;
	}
	.region-content .field-name-field-application-featurs .field-items .field-item,
	.region-content .field-name-field-application-demourl .field-items .field-item{	
		background: url("../images/dot.gif") no-repeat left 5px;
		font:normal 1em/1.2em  'PT Sans', helvetica, arial, sans-serif;
		padding:0 0 0 10px;
		margin:0 0 3px;
	}
	.region-content .field-name-field-application-featurs .field-items .field-item a:link,
	.region-content .field-name-field-application-featurs .field-items .field-item a:visited{	
		font:normal 1em/1.2em 'PT Sans', helvetica, arial, sans-serif;
		text-decoration:none;
		color:#696969;
	}
	.region-content .field-name-field-application-featurs .field-items .field-item a:hover{	
		font:normal 1em/1.2em 'PT Sans', helvetica, arial, sans-serif;
		text-decoration:underline;
		color:#696969;
	}
	.region-content .field-name-field-application-featurs .field-items,
	.region-content .field-name-field-application-demourl .field-items{
		padding:0 0 0 20px;
	}
	/*Application*/	
	.block-system-main .cc-left    {
		padding-right: 350px;
		position: relative;
	}
	.block-system-main .cc-right   {		
		position: absolute;
		top:-35px;
		right:0;
	}
	.block-system-main .cc-right  img  {		
		margin-top:0;
	}
	#section-content .container-16 .grid-8.region-content-leftcolumn h2.block-title,
	#section-content .container-16 .grid-8.region-content-rightcolumn h2.block-title{		
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font:normal 18px/20px  Helvetica, Arial, sans-serif;
		padding: 8px 12px 7px;
		text-transform: uppercase;
	}
	#section-content .container-16 .grid-8.region-content-rightcolumn h2.block-title{		
		margin-left:-20px;
		padding-left:20px;
	}
	.container-16 .grid-8 .block{
		margin-bottom:20px;
		color:#666;
	}
	.container-16 .grid-8 .view-applications .views-row{
		overflow:hidden;
		border-bottom:1px dotted #666;
		padding:5px 0;
	}
	.container-16 .grid-8 .view-applications .views-field-field-application-logo{
		float:left; 
		margin-right: 10px;
	}	
	.view-applications .views-field-title a {
		color: #2479CC;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
	}
	.view-applications .views-field-title a:hover {
		text-decoration: underline;
	}
	.view-applications .views-field-field-application-sdesc{
		width:55%;
		float:left;
		line-height:16px;
	}
	.view-applications .views-field-field-interaction-organization{
		width:65%;
		float:left;
	}
	.container-16 .grid-8 .view-applications .views-field-count{
		float:right;
		font-size:14px;
		text-align:right;
		padding:0 5px 0 32px;
		background: url("../images/icon_watch.gif") no-repeat left 2px;
	}
	.container-16 .grid-8 .view-applications .views-field-php{
		float:right;
		font-size:14px;
		line-height:26px;
		text-align:right;
		padding:0 5px 0 27px;
		background: url("../images/icon_place_mini.gif") no-repeat left top;
	}
	.container-16 .grid-8 .view-applications .views-field-field-interaction-date,
	.container-16 .grid-8 .block-applications-block-3 .views-field-created{
		float:right;
		font-size:14px;
		line-height:26px;
		text-align:right;
		padding:0 5px;
		margin:0;
	}
	.container-16 .grid-8 .view-applications .views-field-php span.count{
		font-size: 22px;
		font-weight: bold;
	}
	/*#block-views-applications-block-4 .views-field-title,
	#block-views-applications-block-4 .views-field-field-interaction-organization{
		padding-right:150px;
	}
	#block-views-applications-block-4 .views-field-created{
		margin-left: 350px; 
		margin-top: -16px; 
		color: #666666;
	}*/
	.container-16 .grid-8 .more-link {
		padding-right:10px;
	}
	.container-16 .grid-8 .more-link a:link{
		color:#000;
		text-decoration:none;
		font-size:14px;
	}
	.container-16 .grid-8 .more-link a:hover{
		text-decoration:underline;
	}
	.container-16 .grid-8 .views-field-field-interaction-organization a	{
		font-weight: normal;
	}
	.container-16 .grid-8 .view-display-id-block_4{
		font-size:14px;
		line-height:18px;
	}
	/*Browse by*/
	.container-16 #block-block-21 h2.block-title,
	.container-16 #block-block-22 h2.block-title{		
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font:normal 18px/20px  Helvetica, Arial, sans-serif;
		padding: 8px 15px 7px;
		text-transform: uppercase;
		margin-bottom:0;
	}	
	#block-views-apps-browse-by-block-2,
	#block-views-apps-browse-by-block-1{
		border-bottom:1px dotted #666;
		padding:20px 0;
	}
	#block-views-apps-browse-by-block{
		margin-bottom:10px;
		padding:20px 0;
	}
	#block-views-apps-browse-by-block-2 h2.block-title,
	#block-views-apps-browse-by-block-1 h2.block-title,
	#block-views-apps-browse-by-block h2.block-title{
		float:left;
		border:none;
		width:125px;
		text-align:center;
		padding:0;
		margin:0;
	}	
	#block-views-apps-browse-by-block-2 h2.block-title{
		background:url("../images/place.gif") no-repeat center top;
		padding-top:80px;
		color:#eead11;
	}	
	#block-views-apps-browse-by-block-1 h2.block-title{
		background:url("../images/software.gif") no-repeat center top;
		padding-top:80px;
		color:#eead11;
	}		
	#block-views-apps-browse-by-block h2.block-title{
		background:url("../images/civic.gif") no-repeat center top;
		padding-top:80px;
		color:#eead11;
	}	
	#block-views-apps-browse-by-block-2 .content.clearfix,
	#block-views-apps-browse-by-block-1 .content.clearfix,
	#block-views-apps-browse-by-block .content.clearfix{
		float:left;
		width:80%;
	}
	.container-16 .grid-16 #block-views-apps-browse-by-block-2 .content.clearfix,
	.container-16 .grid-16 #block-views-apps-browse-by-block-1 .content.clearfix,
	.container-16 .grid-16 #block-views-apps-browse-by-block .content.clearfix{
		float:left;
		width:86%;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid,
	#block-views-apps-browse-by-block-1 table.views-view-grid,
	#block-views-apps-browse-by-block table.views-view-grid{
		border:none;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td,
	#block-views-apps-browse-by-block-1 table.views-view-grid td,
	#block-views-apps-browse-by-block table.views-view-grid td{
		padding:0 15px 0 20px;
		color: #666666;
		font-size: 14px;
		vertical-align: top;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td a,
	#block-views-apps-browse-by-block-1 table.views-view-grid td a,
	#block-views-apps-browse-by-block table.views-view-grid td a{
		text-decoration:none;
		color: #666666;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td a:hover,
	#block-views-apps-browse-by-block-1 table.views-view-grid td a:hover,
	#block-views-apps-browse-by-block table.views-view-grid td a:hover{
		text-decoration:underline;
		color: #666666;
	}
	#block-views-apps-browse-by-block-2  table.views-view-grid td.col-1,
	#block-views-apps-browse-by-block-2  table.views-view-grid td.col-2,
	#block-views-apps-browse-by-block-1 table.views-view-grid td.col-1,
	#block-views-apps-browse-by-block-1 table.views-view-grid td.col-2,
	#block-views-apps-browse-by-block  table.views-view-grid td.col-1,
	#block-views-apps-browse-by-block table.views-view-grid td.col-2{
		width:35%;		
	}
	#block-views-apps-browse-by-block-1 table.views-view-grid td.col-3
	#block-views-apps-browse-by-block-2 table.views-view-grid td.col-3
	#block-views-apps-browse-by-block table.views-view-grid td.col-3{
		width:30%;		
	}
	/*Application in action*/
	span.fieldset-legend{
		display:block;
		width:630px
	}
	.region-content .field-name-field-application-demourl {
		float: none;
		margin-left: 0;
		width: auto;
	}
	.region-content .field-name-field-application-demourl a:link, 
	.region-content .field-name-field-application-demourl a:visited {
		background: none;
		box-shadow: none;
		height: auto;
		margin-top: 0;
		text-indent:0;
		width: auto;
	}
	.region-content .field-name-field-application-screenshots .field-items:after {
		content: '.'; 
		display: block; 
		clear: both; 
		visibility: hidden;
		height: 0; 
		line-height: 0;
	}
	.region-content .field-name-field-application-screenshots .field-items .field-item{
		float:left;
		width:307px;
		height:202px;
		text-align:left;
		margin:0 0 15px;
	}
	.region-content .field-name-field-application-screenshots .field-items .field-item img{
		border:1px solid #8e9396;
	}
	.region-content .field-name-field-application-screenshots .field-items .field-item.odd{
		text-align:right;
	}
		
	/* Block Views Organizations */
	.view-cc-organizations table.views-view-grid {
		margin-top:10px;
		font-family: Arial, Helvetica,sans-serif;
	}
	.view-cc-organizations table.views-view-grid td {
		width:50%;
	}
	.view-cc-organizations table.views-view-grid  .views-field-field-organization-address{
		padding-bottom:8px;
	}
	.view-cc-organizations table.views-view-grid  tr.row-last .views-field-field-organization-address{
		border:none;
	}
	.container-16 .grid-8 #block-views-cc-organizations-block .view-cc-organizations .views-field-title,
	.container-16 .grid-8 #block-views-cc-organizations-block .view-cc-organizations .views-field-field-organization-address{
		width:60%;
	}
	.view-cc-organizations .views-field-php{
		float:right;
		margin-top:-35px;
	}
	.view-cc-organizations .views-field-php .cc-org-apps {
		width: auto;
		color: #808080;
		font-size: 14px;
		padding-right:10px;
		text-transform: lowercase;
	}
	.view-cc-organizations .views-field-php .cc-org-prefix-sharing{
		background-position: center top;
	}
	.view-cc-organizations .views-field-php .cc-org-count {
		color: #808080;
		font-weight: bold;
	}
	.view-cc-organizations .views-field-php .cc-org-postfix {
		display:none;
	}
	.view-cc-organizations .views-field-title a {
		color: #2479CC;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
	}
	.view-cc-organizations .views-field-title a:hover {
		text-decoration: underline;
	}
	/* Place Detail */
	.zone-content .region-content .block{
		margin-bottom:20px;
	}
	.zone-content .region-content .block h2.block-title{
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font:normal 18px/20px  Helvetica, Arial, sans-serif;
		padding: 8px 15px 7px;
		text-transform: uppercase;
	}
	.zone-content .view-cc-organizations .views-row,
	.block-views-interactions-block   .views-row	{
		border-bottom:1px dotted #666;
		padding:10px 0 15px;
	}
	/*.contextual-links-region #block-views-cc-organizations-block-1,
	.contextual-links-region #block-views-interactions-block{
		width:50%;
		float:left;
	}*/
	.view-interactions	{
		font-size: 14px;
		color:#696969;
	}
	.view-interactions .views-field-field-interaction-application .field-content{
		font-weight: bold;
		text-transform: lowercase;
	}
	.view-interactions .views-field-field-interaction-application .field-content a{
		text-transform: none;
	}
	.views-field-field-interaction-organization a,
	.views-field-field-interaction-application a	{
		color: #2479CC;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
	}
	.views-field-field-interaction-organization a:hover,
	.views-field-field-interaction-application a:hover	{
		text-decoration: underline;
	}
	.block-views-interactions-block .views-field-field-interaction-type .field-content{
		font-weight:bold;
		float:left;
		padding-right: 5px;
	}
	.openlayers-views-map{
		border:2px solid #aaa;
	}
	/* Activity  */
	#block-block-23 h2.block-title,
	#block-views-interactions-block-3 h2.block-title{
	  color: #8A9093;
	  margin:0 0 10px;
	  padding:0 0 5px;
	  background:none;
	  text-transform: uppercase;
	  border-bottom: 1px dotted #666666;
	  font:bold 14px/16px 'PT Sans', helvetica, arial, sans-serif;
	}	
	#block-block-23 .content form  div:first-child {
		color: #000000;
		font-size: 14px;
		font-weight: bold;
	}	
	#block-views-interactions-block-2  .views-row{
		overflow:hidden;
		border-bottom:1px dotted #666;
		padding:15px 0;
	}
	
/* --------- Sidebar Second ------------ */
	.region-sidebar-second-inner .block{
		border: 2px solid #FFFFFF;
		-webkit-box-shadow: 0 1px 8px 1px #DED8D8;
		box-shadow: 0 1px 8px 1px #DED8D8;
		color: #666666;
		font-family: 'PT Sans', helvetica, arial, sans-serif;
		padding: 0 5px;
		margin-bottom: 10px;
		margin-top:0;
	}
	.region-sidebar-second-inner .block h2.block-title{
		border:none;
		color: #FFFFFF;
		background-color: #E1C83D;
		font-family: 'PT Sans', helvetica, arial, sans-serif;
		font-size: 9.5pt;
		font-weight: 600;
		margin: -4px -7px 5px;
		padding: 9px 15px 6px;
		text-transform: uppercase;
	}
	.region-sidebar-second-inner .block li.views-row{
		border-bottom: 1px dotted;
		margin:0 0 10px;
		padding-bottom: 10px;
	}
	.region-sidebar-second-inner .block li.views-row-last{
		border-bottom: none;
	}
	.region-sidebar-second-inner  .content{
		padding: 7px;
	}
	.region-sidebar-second-inner  .cc-rel-apps-find-more-in-title{
	  color: #666666;
	  margin: 0 0 10px;
	  text-transform: uppercase;
	  border-bottom: 1px dotted;
	  font:normal 12px Helvetica, Arial, sans-serif;
	}
	.region-sidebar-second-inner  table.views-view-grid{
		border:none;
	}
	.region-sidebar-second-inner  table.views-view-grid td{
		padding:2px 5px 3px;
		color:#2479CC;
	}
	.region-sidebar-second-inner .block a:hover{
		text-decoration:none;
	}
	.region-sidebar-second-inner .block  table.views-view-grid td a:link,
	.region-sidebar-second-inner .block  table.views-view-grid td a:visited{
		text-decoration:none;
		cursor:pointer;
	}
	.region-sidebar-second-inner .block  table.views-view-grid td a:hover,
	.region-sidebar-second-inner .block   table.views-view-grid td a:active,
	.region-sidebar-second-inner .block  table.views-view-grid tr:hover td a{
		text-decoration:underline;
		cursor:pointer;
	}
	.region-sidebar-second-inner  .item-list .views-field-title a {
		font:bold 16px Helvetica, Arial, sans-serif;
		text-decoration: none;
	}
	/* At A Glance */	
	.region-sidebar-second-inner .view-at-a-glance-application- a:link {
		text-decoration:none;		
	}
	.region-sidebar-second-inner .view-at-a-glance-application- a:hover {
		text-decoration:underline;		
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul{
		margin:0;
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li{
		overflow:hidden;
		margin-bottom:5px;
		list-style:none;
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li img{
		float:left;
		margin-right:10px;
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li a{
		font-weight:bold;
		font-size: 18px;		
	}
	.region-sidebar-second-inner .block-at-a-glance-application--block .field-content ul li div{
		color:#aaa;
		float:left;
		line-height:20px;
		padding-right:5px;
	}
	.view-at-a-glance-application- .view-header .views-label,
	.view-at-a-glance-application- .views-field .views-label{
		color: #8A9093;
		margin:0 0 10px;
		padding:0 0 5px;
		text-transform: uppercase;
		border-bottom: 1px dotted #666666;
		font-weight:bold;
		font-size:13px;
		display:block;
		clear:both;
	}	
	.view-at-a-glance-application- .views-field {
		margin-bottom:15px;
		overflow:hidden;
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-count,
	.view-at-a-glance-application-  .cc-app-places .cc-places-postfix{
		float:left;
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-count{
		font: bold 30px/32px "PT Sans", helvetica, arial, sans-serif;
		background: url("../images/icon_place.gif") no-repeat left top;
		padding:5px 5px 5px 35px;
		
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-postfix{
		font: normal 18px/20px 'PT Sans', helvetica, arial, sans-serif;
		padding-top:15px;
	}
	.view-at-a-glance-application-  .cc-app-places .cc-places-list-link{
		float:right;	
		padding: 16px 0 0;
	}
	.view-at-a-glance-application-  .views-field-field-application-creator a{
		font-size: 18px;
		font-weight: bold;
	}
	.view-at-a-glance-application-  .views-field-field-application-deliverymeth,
	.view-at-a-glance-application-  .views-field-field-application-license,
	.view-at-a-glance-application-  .views-field-field-application-rlss{
		width:50%;
		float:left;
	}
	.view-at-a-glance-application-  .views-field-edit-node,
	.view-vendors-who-service-this-app-blo .view-footer{
		width:100%;
		clear:both;
		text-align:right;
		overflow:hidden;
	}
	.view-at-a-glance-application-  .views-field-edit-node span a,
	.view-at-a-glance-application-  .views-field-edit-node span a:hover,
	.view-vendors-who-service-this-app-blo .view-footer a{
		text-decoration:none;
		background:#d6e6f6;
		display:block;
		padding:5px 20px;
		float:right;
	}
/* ---------Footer-------- */

