/* Olga Stylesheet */
.container-16 .view-interactions .views-row {
	min-height: 0 !important;
}
.container-16  .views-row{
	min-height:67px;
}
.more-link{
	line-height:18px;
}
#block-views-interactions-block-1 h2.block-title{
	text-indent:-999px;
}
.views-row:after {content: '.'; display: block; clear: both; visibility: hidden;height: 0; line-height: 0;}

.view-application-releases .views-field-field-application-logo{
	float:left; 
	margin-right: 10px;
}
.views-field-field-application-logo {
    float: left;
    margin-right: 10px;
}

/* Tatsiana Stylesheet */

 #popup_FrameDecorationDiv_0, #popup_FrameDecorationDiv_1{
 padding-bottom:1px;
}

#popup_FrameDecorationDiv_0, #popup_FrameDecorationDiv_2{
 padding-right:1px;
}

/* + add a photo or video button */
.add-media-button{
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
    width: 100%;
}
.add-media-button a{
    background: #D6E6F6;
    display: block;
    float: right;
    padding: 5px 20px;
    text-decoration: none;
}
#region-content-doormat{
	width:940px;
}

#region-content-doormat #block-views-apps-browse-by-block table.views-view-grid td{
	width:auto;
}
.container-16 .view-commercial-services .views-row{
	min-height:0;
	border-bottom:none;
	padding-bottom:0 !important;
	padding-top:0 !important;
}
.container-16 .block-f180557b90e1950dc78c1a58bbf318df .views-row,
.container-16 .view-apps-this-organization-has-creat .views-row{
	min-height:0;
	color:#666;
}
#block-views-at-a-glance-application-block .view-footer,
.block-related-apps-block-block .relatedapp {
    clear: both;
    overflow: hidden;
    text-align: right;
    width: 100%;
}
#block-views-at-a-glance-application-block .view-footer a {    
    background:#D6E6F6;
    display: block;
    float: right;
    padding: 5px 20px;
}
.grid-5 .view-at-a-glance-application- .views-row{
	border-bottom:none;
}
#node_application_full_group_app_media .add-data-button a{
	padding-left:5px;
}
#block-views-cc-organizations-block .view-cc-organizations .openlayers-views-map{
	border:none;
}
#node_application_full_group_app_media {
	color:#666;
}
#block-block-23 .content form div.has-you-tried {
   padding:10px 0;
}
#block-block-23 .content form div {
    text-align:right;
}
#block-block-23 .content form div.has-you-tried {
    text-align:left;
}
#block-views-places-block-1 .views-field-php{
	width:60%;
}
.view-applications .views-field-title {
    padding-right: 150px;
}
.container-16 .grid-8 .more-link {
    padding: 10px !important;
}
.cc-places-list-link a, .cc-places-list-link a:hover {    
    background: #D3DEEC;
    display: block;
    float: right;
    margin:5px 0 0;
    padding: 5px 20px;
}
.container-16 .grid-8 #block-views-applications-block-4 .views-field-title, 
.container-16 .grid-8 #block-views-applications-block-4 .views-field-field-organization-address {
    width: auto !important;
	padding-right:150px !important;
}
.view-applications .views-field-field-application-sdesc {
    float: none !important;
    padding-right: 150px;
    width: auto !important;
}
.views-exposed-form .views-submit-button {
    clear:left;
}
.views-exposed-form .views-widget-sort-order{
   padding-right:60px;
}

.views-exposed-form .form-item select option {
    padding: 0;
}

/* Footer fix start */
.zone-footer .block-title{+zoom:1;}
.zone-footer .content.clearfix{+zoom:1;}

.container-16 #region-content-bottom .block-title {
    border: 3px #solid DADADA;
    margin-left: 0;
    margin-right: 0;
	position:relative;
	right:-1px;
    padding-left: 0;
    padding-right: 0;
	padding-bottom:4px;
	margin-bottom:0;
    text-indent: 19px;
    width: 362px;
}
.container-16 #region-content-bottom .content.clearfix{
    margin: 0 !important;
	position:relative;
    width: 342px;
	height:236px !important;
	right:-1px;
}
.container-16 #region-content-bottom2 .block-title {
    left: 4px;
    margin-left: 0;
    margin-right: 0;
	margin-bottom:0;
    position: relative;
	padding-bottom:4px;
    width: 285px;
}
.container-16 #region-content-bottom2 .content.clearfix{
    margin: 0 !important;
    position: relative;
    width: 282px;
	height:236px !important;
    left: 4px;
}
.container-16 #region-content-bottom3 .block-title{
	float:right;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
	padding-bottom:4px;
	width:246px;
	clear:both;
}
.container-16 #region-content-bottom3 .content.clearfix{
    float: right;
    margin: 0 !important;
    width: 248px;
	height:236px !important;
}

/* Footer fix finish */


.field-type-text-with-summary ul{
	padding-left:20px;
}

.field-name-field-application-featurs .field-label{
	color:#fff !important;
	font:normal 16px/18px 'PT Sans' !important;
}
.group-app-media legend {
	padding-bottom:10px;
}
.group-app-media legend  span{
	margin-bottom:0;
}
.fieldset-wrapper .group_app_screenshots,
#node_application_full_group_app_media .fieldset-wrapper .group_app_screenshots,
.group_app_tutorials .field-name-field-application-tutors{
	margin-bottom:0 !important;
}

.region-sidebar-second-inner h2.block-title {
    background-color: #E1C83D !important;
}
#zone-content .region-sidebar-second #block-block-24 h2.block-title{
	background-color: #D86C0C !important;
}

.breadcrumb a:hover {
    text-decoration: underline !important;
}