/**
 * @file
 * CSS for CC Actions module.  In theory, this should
 * be in the theme.
 */

#block-cc-actions-cc-actions {
  border: 1px solid #DDDDDD;
}

#block-cc-actions-cc-actions h2.block-title {
  display: none;
}

#block-cc-actions-cc-actions .content {
  padding: 0;
}

#block-cc-actions-cc-actions .top-level-item {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: white;
  background-color: #669FE9;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 10px;
  padding: 0 0.8em;
  border-bottom: 1px solid #5684BF;
  background-image: url('../images/bluehead.png');
}

#block-cc-actions-cc-actions .cc-actions-profile-item {
  font-size: 1.75em;
  font-weight: bold;
}

#block-cc-actions-cc-actions .cc-actions-profile-item img {
  float: right;
  margin: 10px;
}

#block-cc-actions-cc-actions .item-list ul ul {
  padding-top: .5em;
}

#block-cc-actions-cc-actions .item-list ul li {
  padding: 0;
  margin: 0;
  border: none;
}

#block-cc-actions-cc-actions .item-list ul li li {
  padding-left: .8em;
}

#block-cc-actions-cc-actions .item-list ul li a.cc-actions-local-edit-link {
  background-color: #FE892C;
  color: #FFFFFF;
  display: block;
  margin-left: -.8em;
  padding-left: .8em;
  font-weight: bold;
}

.cc-actions-general-block {
  padding: 9px;
  text-align: center;
  border: 3px dashed #FDE9BC;
}

#block-cc-actions-cc-actions .cc-actions-general-block h2.block-title {
  display: block;
  color: #555;
  background-image: none;
  background-color: transparent;
  border: none;
}

.front #block-cc-actions-cc-actions {
  margin-top: -16px;
}

#block-cc-actions-cc-actions li.cc-actions-my-account .top-level-item {
  cursor: pointer;
}

.no-js #block-cc-actions-cc-actions li.cc-actions-my-account .top-level-item {
  cursor: inherit;
}

#block-cc-actions-cc-actions li.cc-actions-my-account .top-level-item {
  margin-bottom: 0;
  background-image: url("images/bullet_arrow_right.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.no-js #block-cc-actions-cc-actions li.first .top-level-item {
  margin-bottom: inherit;
  background-image: none;
}

#block-cc-actions-cc-actions li.cc-actions-my-account .top-level-item.cc-actions-expanded {
  background-image: url("images/bullet_arrow_down.png");
}

/**
 * If JS, then display none by default 
 */
#block-cc-actions-cc-actions li {
  display: none;
}
#block-cc-actions-cc-actions li.cc-actions-my-account {
  display: block;
}
.no-js #block-cc-actions-cc-actions li {
  display: block;
}