/**
 * @file
 * Main CSS for CC Wiki module.
 */
#block-cc-wiki-cc-wiki-home .featured-column {
  float: left;
  width: 220px;
  margin-right: 20px;
}
#block-cc-wiki-cc-wiki-home .featured-column-last {
  margin-right: 0;
}

#block-cc-wiki-cc-wiki-home .featured-column-first {
  float: left;
  width: 200px;
  margin-right: 20px;
  padding: 0 .8em;
}